:root {
    --title-color: #ffffff;
    --subtitle-color: #2E2F42;
    --portfolio-filters: #4D5AE5;
    --button-background-color: #f4f4fd;  
    --litle-text: #434455;
    --header-menu-link: #404bbf;

}
body {
    font-family: "Roboto", sans-serif;
    color: var(--litle-text);
    background-color: var(--title-color)
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* Header */

.header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--portfolio-filters);
}

.header-logo span {
    color: var(--subtitle-color)
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}
.header-menu-link:hover {
    color: var(--header-menu-link);
}
.header-menu-link:focus {
    color: var(--header-menu-link);
}

.header-menu-link:active {
    color: var(--button-background-color);
    text-decoration: underline;
}

.header-contacts {
    font-style: normal
}

.header-contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--item-text);
}
.header-contacts-link:active {
    color: #404bbf;
}

/* Hero */

.hero {
    background-color: var(--subtitle-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--title-color);
    background-color: #4D5AE5;
    cursor: pointer
    
}

.hero-btn:hover,:focus {
    background: var(--link-active-color);
}

/* Features */

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--item-text);
}

/* Activity */

.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--subtitle-color)
}

/* Team */

.team {
    background: var(--background-color);
}

.team-list {
    background-color: #ffffff;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--subtitle-color);
    
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    
}

.team-specialty {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--item-text);
    
}

/* Footer */

.footer {
    background: var(--subtitle-color)
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--portfolio-filters);
}

.span-footer {
    color: var(--background-color)
}

.footer-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
}

/* PORTFOLIO */

.filters-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: (var(--background-color));
    cursor: pointer
}

.filters-btn:hover {
    color: var(--title-color);
    background-color: var(--link-active-color);
}
.filters-btn:focus {
    color: var(--title-color);
}

.cards-content-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}

.card-content-type {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}